.footer{
  background-color: #171A21;
  .footerContent{
    min-height: 100px;
    width: 100%;
    margin: 0 auto;
    padding: 15px 30px;
    display: flex;
    color: white;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    max-width: 1535px;

    & > *{
      font-weight: bold;
      font-size: 18px;
      display: flex;
      flex-direction: column;
      & > *:hover{
        color:#7700FF;
        cursor: pointer;
        transition: all .2s ease-in-out;
      }
    }

    .buttonContainer{
      display: flex;
      .fb::before{
        mask: url(../../public/img/facebook.svg) ;
      }
      .youtube::before{
        background-image: url(../../public/img/youtube.svg);
      }
      .tg::before{
        mask: url(../../public/img/tg.svg) ;
      }
      .icons{
        margin-left: 20px;
        position: relative;
        &::before {
          content: '';
          height: 40px;
          width: 40px;
          left: 0;
          position: absolute;
          top: 0;
          transition: background-color .2s ease-in-out;
        }

        &:hover::before {
          background-color: #7700FF;
        }
      }

    }
  }
}
@media(max-width: 750px){
  .footerContent{
    flex-direction: column!important;
    &>*{
      justify-content: center!important;
      align-items: center!important;

      margin-bottom: 20px;
    }
  }
}